@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgba(211, 255, 252, 1);
}

header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #51cbee;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #51cbee;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        width: 100%;
    }
    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .dropdown-content {
        position: static;
        display: none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }
}

.card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 30px;
}

.card-title {
    color: #343a40;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    color: #6c757d;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}