{% extends 'base.html' %}
{% block image_slider %}{% endblock image_slider %}
{% block main %}


    <div class="container py-3">
        <div class="row py-4">
            <div class="col-md-5">
                <div class="card">
                    <h4 align='center'>Food Donate</h4>
                    <form method="post">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Donate Now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card p-3" >
                  <div class="card-body ">
                    <h5 class="card-title">Share the Bounty: The Power of Food Donation</h5>
                  <p class="card-text lead" style="text-align: justify;">Having a purpose in our lives is very important. Life without purpose is a meaningless journey. Therefore, it is very important for us to have a purpose in our lives.</p>
                  <p class="card-text" style="text-align: justify;">Failure is a common thing in life. But we should not give up on failure. We should always keep trying and remain fully committed to our goals. Therefore, having a purpose in life leads us towards success.</p>
                  <p class="card-text" style="text-align: justify;">Walking with a purpose in our lives gives us a new dimension. We should adopt the purpose of life to make life more important. Therefore, we should try to make life more meaningful by adopting a purpose.</p>
                  <p class="card-text" style="text-align: justify;">Some things in life are not as important as we make them out to be. We must express our thoughts and take the time to explain our opinions to others. We should give ourselves permission to live our lives independently so that we can fulfill our dreams. When we learn from our failures, we gain a new perspective and help ourselves move towards success. Therefore, we should always stay positive in our lives and keep moving forward. These are the real objectives of our lives.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    


{% endblock main %}