{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block content %}
<h2>Reset Password</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="uidb64" value="{{ uidb64 }}">
    <input type="hidden" name="token" value="{{ token }}">
    <div>
        <label for="id_new_password1">New password:</label>
        <input type="password" id="id_new_password1" name="new_password1" required>
    </div>
    <div>
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" id="id_new_password2" name="new_password2" required>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}
