{% extends 'main.html' %}
{% block image_slider %}{% endblock image_slider %}

{% block main %}

	

	<div class="container" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
		<div class="row px-5 pt-4 " >
			<div class="col-sm-4 " >
				<div class="card shadow-sm mb-3 " >
					<div class="card-body text-center">
						<img class="rounded-circle mb-3 mt-4" src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" width="160" height="160">
						<div class="mb-3">
							{% comment %} <button class="btn btn-primary btn-sm" type="button">Change Photo</button> {% endcomment %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="card shadow-sm p-0">
					<div class="card-header ">
						<p class="text-primary m-0 fw-bold text-center h3">User Profile</p>
					</div>
					<div class="card-body ">
						<table class="table text-dark-emphasis ">
						  <thead>
							<tr>
							  <th scope="col" >User Name</th>
							  <th scope="col " >{{user.username}}</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">First Name</th>
							  <td>Mark</td>
							</tr>
							<tr>
							  <th scope="row">Last Name</th>
							  <td>Jacob</td>
							</tr>
							<tr>
							  <th scope="row">Email</th>
							  <td colspan="2">{{user.email_id}}</td>
							</tr>							<tr>
							  <th scope="row">Group</th>
							  <td colspan="2">{{user.groups}}</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row px-5 py-4">
			<div class="col">
				<div class="card shadow-sm p-0">
					<div class="card-header py-3">
						<p  class="text-primary m-0 fw-bold text-center h3">Contact Settings</p>
					</div>
					<div class="card-body">
						<form>
							<div class="mb-3">
								<table class="table">
								  <thead>
									<tr>
									  <th scope="col">Address</th>
									  <td scope="col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, corrupti.</td>
									</tr>
								  </thead>
								  <tbody>
									<tr>
									  <th scope="row">City</th>
									  <td>Lucknow</td>
									</tr>
									<tr>
									  <th scope="row">Country</th>
									  <td>India</td>
									</tr>
								  </tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock main %}